.range-slider {
    width: 100%;
    height: 48px;

    mat-slider {
        width: 100%;
    }

    mat-slider:nth-child(2) {
        position: relative;
        bottom: 48px;
    }
}

mat-radio-button {
    padding: 5px
}

.sidenav-container {
    position: absolute;
    top: 0;
    bottom: 64px;
    left: 0;
    right: 0;
    background-color: #ffffff;
    color: #000;
  }