<app-header (toggleSidenav)='snav.toggle()' [showMenuButton]='mobileQuery.matches'></app-header>
<mat-toolbar color="primary" class="header mat-elevation-z10" style='padding-left: 0'>
    Search  
</mat-toolbar>
<mat-sidenav-container class='sidenav-container'>
  <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" [opened]="mobileQuery.matches ? false : true">
    <form #propertyFilterForm="ngForm" (ngSubmit)="onSubmit(propertyFilterForm.value)">
      <div>
        <div fxFlex='175px' fxLayout='column'>
          <h3 style='background-color: #424242; color:white; padding: 10px; text-align:center'>Filters</h3>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>Keywords</mat-panel-title>
            </mat-expansion-panel-header>
            {{filter.keywords}}
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>Beds</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-radio-group *ngFor='let validBed of validBeds' name='bedCount' [(ngModel)]='filter.bedCount'>
              <mat-radio-button value="{{validBed.id}}">{{validBed.name}}</mat-radio-button>
            </mat-radio-group>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>Baths</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-radio-group *ngFor='let validBath of validBaths' name='bathCount' [(ngModel)]='filter.bathCount'>
              <mat-radio-button value="{{validBath.id}}">{{validBath.name}}</mat-radio-button>
            </mat-radio-group>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>Price Range</mat-panel-title>
            </mat-expansion-panel-header>
            <div fxLayout='column'>
              <div class='range-slider'>
                <mat-slider thumbLabel #minPriceInput [displayWith]="formatLabel" [min]="minPriceLimit" [max]="maxPriceLimit" name='minPrice'
                  [(ngModel)]='filter.minPrice'></mat-slider>
                <mat-slider thumbLabel #maxPriceInput [displayWith]="formatLabel" [min]="minPriceLimit" [max]="maxPriceLimit" name='maxPrice'
                  [(ngModel)]='filter.maxPrice'></mat-slider>
              </div>
              <div fxLayout fxLayoutGap='10px' fxLayoutAlign='center'>
                <span> ${{(minPriceInput.value/1000).toFixed(1)}}k</span>
                <span>:</span>
                <span>${{(maxPriceInput.value/1000).toFixed(1)}}k</span>
              </div>
            </div>
          </mat-expansion-panel>
        </div>
      </div>
    </form>
  </mat-sidenav>
      <router-outlet></router-outlet>
      <app-footer></app-footer>
</mat-sidenav-container>